.view {
	-fx-background-image: url("background.png");
}

.AnchorPane{
	-fx-background-color: transparent;
}
.label {          
	
	-fx-background-image: url("label.png");
	-fx-background-size: 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%;
	-fx-background-color: transparent;
}

.button {          

    -fx-background-image: url("button.png");
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100%;
	-fx-background-color: transparent;
}