.view {
	-fx-background-image: url("background.png");
}

.label {
	
}

.button {
	-fx-font-size: 16px;
    -fx-font-family: "Monotype Corsiva";
	-fx-text-fill: #FFFFFF;
	-fx-background-color:#0049d1;

}